.mainbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.connect_status {
  margin: 3%;
}

.buttons_control_rotate {
  margin: 3%;
}

/* .button_array_up {
  padding-bottom: 0% !important;
}

.button_array_down {
  padding-top: 0% !important;
} */